<div ng-controller="FileManagerCtrl as FMCrtl">
    <div class="col-sm-4">
        <img src="/app/src/imgs/immersiaTv_logo.png"/>
        <div class="tree-browser">
            <js-tree tree-events="select_node:nodeSelected" tree-ajax="/api/tree"></js-tree>
        </div>
    </div>
    <div class="col-sm-4">
        <h3> Files selected </h3>
        <table class="table table-striped">
            <!--thead>
                <tr>
                    <th colspan="2">Stream id</th>
                    <th>File name</th>
                </tr>
            </thead-->
            <tbody class="table-bordered">
            <tr ng-repeat="archivo in FMCrtl.archivos track by $index">
                <div class="col-sm-12 alert alert-warning" ng-show="showErrorNoFiles">
                    <strong>Warning!</strong> No files selected for stream.
                </div>
                <th>[{{$index}}]</th>
                <td>{{ archivo.text }}</td>
                <td class="pull-right"> <button class="btn btn-xs btn-danger" id="{{$index}}" ng-click="removeFile($index)">X</button></td>
            </tr>
            </tbody>
        </table>
        <div class="col-sm-12" ng-show="showPlay">
            <button style="display: block; width: 100%; height:50px;" class="btn btn-success" ng-click="playServer(FMCrtl.archivos)">PLAY SERVER</button>
        </div>
        <div class="col-sm-12" ng-show="showStop">
            <button style="display: block; width: 100%; height:50px;" class="btn btn-danger" ng-click="stopServer()">STOP SERVER</button>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
</div>


